<!-- NAVBAR -->
<div class='navbar'>
  <div class='logo'>SKLEP MARCINA</div>
  <div class='account-container'>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class='cart-desc'>O Nas</div>
  </div>
    <div class='account-container'>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class='cart-desc'>Sklep</div>
  </div>
  <div class='account-container'>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class='cart-desc'>Moje Konto</div>
  </div>
  <div class='cart-container'>
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <div class='cart-desc'>0 Produktów</div>
  </div>

</div>



