{% for product in products %}
   <div class="container">
    <div class="block">
      <div class="product">
        <img src="https://dstreet.pl/pol_pl_Spodnie-meskie-dresowe-antracytowe-Dstreet-UX3244-35667_1.webp" />
        <div class="buttons">
          <a class="buy" href="#">DODAJ DO KOSZYKA</a>
          <a class="preview" href="#">POKAŻ SZCZEGÓŁY</a>
        </div>
      </div>

      <div class="info">
        <h4>{{product.title}}</h4>
        <span class="description">
             {{product.description}}
        </span>
        <span class="price">{{product.price}} PLN</span>
        <a class="buy_now" href="#">Zamów teraz!</a>
      </div>

      <div class="details">
        <span class="time">dostepne: {{product.amount}}</span>
        <ul class="rating">
          {{product.categories}}
        </ul>
      </div>
    </div>

  </div>
  {% endfor %}