{% for product in products %}
   <div class="container">
    <div class="block">
      <div class="product">
        <img src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.6435-9/30740603_1211844378949950_5348895783028523008_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=JbjkB1SGAq8AX9znBNf&_nc_ht=scontent.fktw1-1.fna&oh=00_AT8dwslPmHfAqklOAzRuyN8y7C5juAPK7FEmek1MEv_LBA&oe=62EC84D8" />
        <div class="buttons">
          <a class="buy" href="#">DODAJ DO KOSZYKA</a>
          <a class="preview" href="#">POKAŻ SZCZEGÓŁY</a>
        </div>
      </div>

      <div class="info">
        <h4>{{product.title}}</h4>
        <span class="description">
             {{product.description}}
        </span>
        <span class="price">{{product.price}} PLN</span>
        <a class="buy_now" href="#">Zamów teraz!</a>
      </div>

      <div class="details">
        <span class="time">dostepne: {{product.amount}}</span>
        <ul class="rating">
          {{product.categories}}
        </ul>
      </div>
    </div>

  </div>
  {% endfor %}